.banner-intro-bg,
.banner-menu-bg,
.banner-contact-bg,
.banner-about-bg,
.banner-news-bg {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.banner-menu-bg {
  background-image: url(../public/images/about/banner-cafe.jpg);
}
.banner-contact-bg {
  background-image: url(../public/images/about/banner-contract.jpg);
}
.banner-about-bg {
  background-image: url(../public/images/about/banner-about.jpg);
}
.banner-news-bg {
  background-image: url(../public/images/about/banner-news.png);
  background-position: top center;
}
.banner-intro-bg {
  background-image: url(../public/images/home-bg.jpg);
}


#welcome-text {
  fill: #000;
  stroke: var(--black);
  stroke-width: 1.5px;
  stroke-dasharray: 1800;
  stroke-dashoffset: 0;
  animation: effectWelcome 5s linear infinite;
}

@keyframes effectWelcome {
  0% {
    stroke-dashoffset: 1800;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.section-2 .carousel-root .carousel-slider {
  height: 75vh;
}

.sub-slider .carousel-root,
.sub-slider .carousel-slider,
.sub-slider .carousel-slider .slider-wrapper,
.sub-slider .carousel-slider .slider-wrapper .slider {
  height: 100%;
}

.sub-slider {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.sub-slider .content div:nth-child(1)::before {
  /* lá */
  position: absolute;
  left: 64%;
  bottom: 50%;
  width: 60px;
  height: 60px;
  content: "";
  background-image: url(../public/images/icons/leaves.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.food-image {
  box-shadow: 4px 4px 20px 5px rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 4px 4px 20px 5px rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  overflow: hidden;
}

.sub-slider .carousel-root .slider-wrapper .slider .slide:not(.selected) {
  transition: transform 0.6s ease-in-out;
  transform: scale(0.6);
  filter: blur(3px);
}

.sub-slider .carousel-root .slider-wrapper .slider .slide.selected {
  transition: transform 0.6s ease-in-out;
  z-index: 1;
}

.sub-slider .carousel.carousel-slider .control-arrow {
  top: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--black);
}
.sub-slider .carousel .control-prev.control-arrow {
  left: 32px;
}
.sub-slider .carousel .control-next.control-arrow {
  right: 32px;
}

@media (max-width: 1334px) {
  .sub-slider .content div:nth-child(1)::before {
    left: 68%;
    bottom: 55%;
  }
}

@media (max-width: 768px) {
  .sub-slider .content div:nth-child(1)::before {
    left: 70%;
    width: 50px;
    height: 50px;
  }
  .sub-slider .carousel .control-prev.control-arrow {
    left: 28px;
  }
  .sub-slider .carousel .control-next.control-arrow {
    right: 28px;
  }
}

@media (max-width: 640px) {
  .sub-slider .content div:nth-child(1)::before {
    left: 75%;
    width: 40px;
    height: 40px;
  }
  .sub-slider .carousel .control-prev.control-arrow {
    left: 20px;
  }
  .sub-slider .carousel .control-next.control-arrow {
    right: 20px;
  }
}

.sub-slider .carousel.carousel-slider .control-arrow:hover {
  background: var(--black-1);
}

.sub-slider .carousel .control-prev.control-arrow:before {
  border-right: 13px solid var(--white);
}

.sub-slider .carousel .control-next.control-arrow:before {
  border-left: 13px solid var(--white);
}

.sub-slider .carousel .control-arrow:before,
.sub-slider .carousel.carousel-slider .control-arrow:before {
  height: 27px;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  transform: translateY(5px);
}

.section-3 {
  background-image: url(../public/images/bg-1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.section-3::before {
  content: "";
  position: absolute;
  top: -55px;
  left: 0;
  width: 100%;
  height: 195px;
  background: url(../public/images/wave.svg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

@keyframes text-clip {
  from {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes outer-left {
  from {
    transform: translateX(-250px);
  }
  to {
    transform: none;
  }
}

@keyframes inner-left {
  from {
    transform: translateX(80px);
  }
  to {
    transform: none;
  }
}
.home-title h1,
.home-sub-title h3,
.title-inner,
.home-title,
.home-sub-title,
.home-title-wrapper {
  animation: outer-left 2s 3s ease both;
}

.title-inner,
.home-title {
  animation: inner-left 2s 3s ease both;
}

.home-title {
  animation: inner-left 2s 3s ease both,
    text-clip 2s 2s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.home-sub-title,
.home-title {
  animation: text-clip 2s 2s cubic-bezier(0.5, 0, 0.1, 1) both;
}
